@(form: Form[(String, Option[String])])(implicit lang: Lang, flash: Flash)

@main(Messages("plans.createAPlan")) {
  @helper.form(action = routes.Plans.create) {

    <p>
      @Messages("plans.ImPlanningTo.1")
      <input type="text" name="@form("summary").name" id="@form("summary").id" value="@form("summary").value" size="30" maxlength="255" />
      @Messages("plans.ImPlanningTo.2")
    </p>

    <p>
      @Messages("plans.moreDetails")
    </p>

    <p>
      <textarea name="@form("details").name" id="@form("details").id" cols="80" rows="3" maxlength="255">@form("details").value</textarea>
    </p>

    <p>
      <button type="submit" class="btn btn-primary">Go!</button>
    </p>
  }
}
