@(form: Form[(String, Option[String])])(implicit flash: Flash)

@main("Create a plan") {
  @helper.form(action = routes.Plans.create) {

    <p>
    I'm planning to hack on
    <input type="text" name="@form("summary").name" id="@form("summary").id" value="@form("summary").value" size="30" maxlength="255" />
    . Care to join me?
    </p>

    <p>
    More details (optional):
    </p>

    <p>
      <textarea name="@form("details").name" id="@form("details").id" cols="80" rows="3" maxlength="255">@form("details").value</textarea>
    </p>

    <p>
      <button type="submit" class="btn btn-primary">Go!</button>
    </p>
  }
}
