@(unmatchedPlans: List[Plan], matchedPlans: List[Plan], user: Option[User])(implicit lang: Lang, flash: Flash)

@main(Messages("plans.title")) {

  <h2>@Messages("plans.lookingForABuddy")</h2>

  <div>
    @if(unmatchedPlans.isEmpty) {
      <div>
      @Messages("plans.noUnmatched")
      </div>
      <div>
        <a href="@routes.Plans.showForm()">@Messages("plans.whyNotMakeOne")</a>
      </div>
    } else {
      <dl>
      @for(plan <- unmatchedPlans) {
        <dd>
          <blockquote>
            <p>
              @Messages("plans.ImPlanningTo.1") <strong>@plan.summary</strong>@Messages("plans.ImPlanningTo.2")
            </p>
            @plan.details.map { d =>
              <p class="text-info details" data-plan-id="@plan.id">@d</p>
            }
            <p><small>@plan.creator.name</small></p>
            @if(!(user.isDefined && user.get.id == plan.creator.id)) {
              <div>
                <a class="btn btn-primary" href="@routes.Plans.offer(plan.id)">@Messages("plans.countMeIn")</a>
              </div>
            }
          </blockquote>
        </dd>
      }
      </dl>
      <div>
        @if(user.isDefined) {
          <a href="@routes.Plans.showForm()">@Messages("plans.addANewPlan")</a>
        } else {
          Want to add a plan? First <a href="@routes.Users.showLoginForm()">login</a> or <a href="@routes.Users.showSignupForm()">Signup</a>.
        }
      </div>
    }
  </div>

  <hr/>

  <h2>@Messages("plans.recentlyMatched")</h2>

  <div>
    @if(matchedPlans.isEmpty) {
      <div>
        @Messages("plans.noneYet") :(
      </div>
    } else {
      <dl>
      @for(plan <- matchedPlans) {
        <dd>
          <p><strong>@plan.creator.name</strong>@Messages("plans.matchedPlan.1")<strong>@plan.offerer.map(_.name)</strong>@Messages("plans.matchedPlan.2")<strong>@plan.summary</strong>@Messages("plans.matchedPlan.3")</p>
        </dd>
      }
      </dl>

    }

  </div>
}
